body{
    padding: 0px;
    margin: 0px;
}

/* Navbar section */
.head{
    background: transparent;
    height: 70px;
}
.head .fixed_logo{
    display: none;

}


.navbarHeader{
    background-color: white ;
    color:black;
}

.navbarHeader .top_logo{
    display: none;
}
.navbarHeader .fixed_logo{
    display: block;
}
.navbarHeader .nav-item{
    color:black;
}
nav{
    width: 95%;
    margin: 25px 40px 0px 40px;
    height: 40px; 
    padding: 0px;
    position:fixed;
    top:0;
    left: 0;
}

.navbar-brand{
    max-width: 78px;
    height: auto;
}

.navbar-nav{
    text-align: left;
}

.nav-item{
    font-weight: bold;
    font-size: 13px;
    font-style: Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    letter-spacing: 0px;
}

.nav-item:hover{
    color: #FFFFFF;
}

/* Navbar ends */
/*Carousel */

#carousel{
    background-image: url('../images/carousel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    margin: 0px;
    width: 100%;
    height: 632px;
    padding-top: 215px;
    padding-left: 173px;
}

#carouselHeading{
    font: normal normal normal 54px/61px A P-OTF A1Gothic Std;
    letter-spacing: -2.7px;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px #00000029;
    opacity: 1;
}

#carouselbtn{
    background: #00AFCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00AFCC;
    border-radius: 100px;
    width: 384px;
    height: 60px;
    opacity: 1;
    border:none;
    font: normal normal bold 14px/20px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
}


#btn, #btn_toggle{
    background: #00AFCC 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    width: 117px;
    text-align: center;
}

#btn_toggle{
    display: none;
}
/*Carousel ends*/
/*Section 1 */
#content1 h6, #content1 h3{
    font: normal normal 900 14px/37px Noto Sans JP;
    letter-spacing: 0.56px;
    color: #232323;
}
#content1 h3{
   
    font-weight: bolder;
    font-size: 35px;
    
}
#content1 .sm_header{
    font: normal normal 200 14px/37px Montserrat;
    letter-spacing: 0.56px;
    color: #676767;
}
#content1 .card-title{
    font-weight: bold;
}
#content1  .card-text{
    font: normal normal normal 14px/25px Noto Sans JP;
    letter-spacing: 0.56px;
    color: #232323;
}
/*Section 1 ends*/

/*Section 2 starts*/
#section2{
    background-image: url('../images/greeting_pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#section2 h6, #section h3{
    color: #FFFFFF;
    opacity: 1;
    font-weight: bolder
}
#section2 h3{
    font-size: 45px;
    
}
#section2 .sm_head{
    font: normal normal 200 14px/37px Montserrat;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}
#section2 #section2btn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    color: #000;
    width: 384px;
    height: 60px;
    opacity: 1;
    border:none;
    font-weight:bolder;
}
/*Section 2 ends*/
/* Section 3 starts*/
#section3{
    padding-bottom: 100px;
}
#section3 .card, #section4 .card{
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
}
#section3 .card1{
    background-image: url('../images/challenge_01.jpg');
}
#section3 .card2{
    background-image: url('../images/challenge_02.jpg');
}
#section3 .card3{
    background-image: url('../images/challenge_03.jpg');
}
#section3 .card4{
    background-image: url('../images/challenge_04.jpg');
}
#section3 .card5{
    background-image: url('../images/challenge_05.jpg');
}
#section3 .card6{
    background-image: url('../images/challenge_06.jpg');
}
#section3 .card-title{
    font: normal normal 200 31px/37px Montserrat;
    letter-spacing: 1.24px;
    color: #000000;
    margin-top: -15px;
    font-weight:300;
}
/*section 3 ends */
/*section 4 start*/
#section4 #img{
    width: 80%;
    margin-top: -80px;
}
#section4 #img_mobile{
    display: none;
}

#section4, #section4 .card{
    background-color: #000000;
    margin-top: 15px;
}

#section4 .card-title{
    text-align: center;
    letter-spacing: 1.6px;
    color: #5F5F5F;
    font-weight: 600;
    margin-top: -215px;
    font-size: 40px;
}
#section4 .card-footer{
    font: normal normal bold 16px/27px Noto Sans JP;
    letter-spacing: 0.64px;
}


/*section 4 ends */

@media only screen and (max-width: 600px) {
    #carousel{
        background-image: url('../images/carousel_sm.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 1;
        margin: 0px;
        width: 100%;
        height: 632px;
        padding-top: 240px;
        padding-left: 42px; 
    }  
    
    #carouselHeading{
        font-weight: bold;
        letter-spacing: -1.9px;
    }

    #carouselbtn{
        width: 315px;
        margin-left: 52px; 
        margin-top: 214px;
    }

    #nav, .collapse{
        margin: 0px;
        width: 100%;
        padding: 0px;
        background: #606060 0% 0% no-repeat padding-box;
    }
    .collapse{
        height: 100vh;
        background: #606060 0% 0% no-repeat padding-box;
    }
    .nav-item{
        text-align: right;
        margin-right: 25px;
        letter-spacing: 0px;
        color: #FFFFFF;
        line-height: 50px;
    }
    .navbar .top_logo{
        display: none;
    }
    .navbar .fixed_logo{
        display: block;
    }
    #btn, #btn_toggle{
        border-radius: 100px;
        opacity: 1;
        width: 90%;
        margin: auto;
        height: 50px;
        padding: 0px;
    }
    #btn_toggle{
        display: block;
        background: #232323 0% 0% no-repeat padding-box;
        margin-bottom: 30px;
    }

    #section2{
        background-image: url('../images/greeting-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
    }
    #section4 #img_mobile{
        width: 100%;
        height: 200px;
        margin-top: -80px;
        text-align: center;
    }
    #section4 #img{
        display: none;
    }
    #section4 #img_mobile{
        display: block;
    }
    #section4 .card{
        margin-top: 10px;
    }
}